{% extends 'base.html' %}

{% block content %}
<div class="smallpage">
    <h2>Climate demonstrator API</h2>
    <h3>Basic interface</h3>
    <p>This interface provides self-contained graphics, along with title and legend.</p>
<!--
    <dl class="api">
        <dt>basic/img.png</dt>
        <dd>Map of a given climate parameter for a given climate model and scenario. All arguments are given through GET method. For instance,
                <div><code>basic/img.png?yr_range=10&yr=2040&clip=Senegal&metric_id=5&scenario_id=2&model_id=2</code></div>
            prints <a href="../../basic/img.png?yr_range=10&yr=2040&clip=Senegal&metric_id=5&scenario_id=2&model_id=2">
                a map of average yearly maximum temperatures in Senegal between 2040 and 2049</a>.
        <dl class="description">
            <dt>metric_id, model_id, scenario_id : int</dt>
            <dd>Mandatory parameters.</dd>
            <dt>clip : string</dt>
            <dd>Zone of interest. If not set, displays a map as large as possible.</dd>
            <dt>yr, yr_range : int (default resp. 2050 and 1)</dt>
            <dd>Period of interest.</dd>
            <dt>change : {'none' (default), 'difference', 'anomaly'}</dt>
            <dd></dd>
            <dt>refYr : int (default 2006)</dt>
            <dd>Start of 10-year reference period, only relevant when change is not 'none'.</dd>
            <dt>scale : {'auto' (default), 'absolute', 'relative'}</dt>
            <dt>output : {'pixel' (default), 'contour'}</dt>
            <dt>image_size : int between 10 and 500 (default 100)</dt>
            <dd>DPI of the map.</dd>
        </dl></dd>
        <dt>basic/chart/</dt>
        <dd>Lorem ipsum dolor sit amet.</dd>
    </dl>

    <h3>Advanced interface</h3>
    <p>For raw graphics and data.</p>
    -->
</div>
{% endblock %}