{% extends 'base.html' %}

{% block content %}
<div class="smallpage">
    <h3>Simple form version</h3>
    <form action="{% url 'climap:basic' %}#results" method="post">
        {% csrf_token %}
        <ul class="djangoform">{{ form }}</ul>

        <input type="submit" value="Submit"/>
        <div class="helptext">Depending on the parameters, the request may take several seconds or minutes to display.</div>
    </form>

    {% if svg or png %}
        <h3 id="results">Results</h3>
    {% endif %}

    {% if svg %}
        {{ svg|safe }}
    {% endif %}

    {% if png %}
        <img src="{{ png }}">
    <div class="helptext">Right-click on images to save.</div>
    {% endif %}
</div>
{% endblock %}
