{% extends 'base.html' %}
{% block scripts %}
{% load static %}
<!-- <script src="//cdnjs.cloudflare.com/ajax/libs/dygraph/2.1.0/dygraph.min.js"></script> -->
<!-- <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/dygraph/2.1.0/dygraph.min.css" /> -->

<script src="{% static 'dygraph.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'dygraph.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'ol.css'%}" type="text/css">
<script src="{% static 'ol.js' %}"></script>

{% endblock %}

{% block headinfo %}
<form id="topForm">
    <div class="drop">parameter : <span id="paramName" class="dropSelected">{{ default_metric }}</span>
        <ul class="ul-medium">
            {% for c in catmetric %}
            <li class="category">{{ c.name }}</li>
            {% for m in c.get_ordered_metrics %}
            <li class="hoverable"><input type="radio" name="metric" id="metric{{ m.id }}" value="{{ m.id }}"
                       {% if m == default_metric %}checked{% endif %}
                       onchange="updateDrop('param', '{{ m.name }}')">
                <label for="metric{{ m.id }}">{{ m.name }}</label>
                {% if m.metric_set.exists %} <span class="grayed">></span>
                <ul class="ul-medium">
                    <li class="helptext">or specific case study :</li>
                    {% for refm in m.metric_set.all %}
                    <li class="hoverable"><input type="radio" name="metric" id="metric{{ refm.id }}" value="{{ refm.id }}"
                       {% if m == default_metric %}checked{% endif %}
                       onchange="updateDrop('param', '{{ refm.name }}')">
                    <label for="metric{{ refm.id }}">{{ refm.name }}</label>
                    {% endfor %}
                </ul>
                {% endif %}
                {% if not m.has_month %}<span class="helptext" style="float:right;font-style:italic">yearly data</span>{% endif %}
            </li>
            {% endfor %}
            {% endfor %}


            <li class="helptext" style="float:right"> <a
                    href="{% url 'climap:help' %}">more about parameters</a></li>
        </ul>

    </div>
    <div class="drop">models : <span id="modelsNb" class="dropSelected"></span>
        <ul class="ul-large">
            <li class="hoverable">compare <span id="compareName" class="dropSelected">scenarii</span>
                <ul>
                    <li class="hoverable"><input onchange="updateDrop('compare', this.value)" type="radio" name="compare" id="compare1"
                               value="scenarii" checked><label for="compare1">scenarii</label>
                    <span class="tip" style="float:right">?<span class="tipmessage">
                        For <b>scenarii</b>, displays model average and standard deviation for each scenario.
                        <br><b>Models</b> are compared along chosen scenario.
                        <br>Models can also be <b>grouped</b> by similarity for a more compact view.
                    </span>
                    </li>
                    <li class="hoverable"><input onchange="updateDrop('compare', this.value)" type="radio" name="compare" id="compare2"
                               value="models"><label for="compare2">models</label></li>
                    <li class="hoverable"><input onchange="updateDrop('compare', 'model groups')" type="radio" name="compare" id="compare3"
                               value="groups"><label for="compare3">groups</label></li>
                </ul>
            </li>
            <li class="separator">
            <li>
                <input type="checkbox" id="modelall" onchange="allModels(this.checked);" checked><label
                    for="modelall"><i>all models</i></label>
                <!--<br><input type="checkbox" id="typicalModels"><label for="typicalModels"><i>typical samples</i></label>-->
                <div style="column-count:2">
                    {% for m in models %}
                    <input type="checkbox" value="{{ m.id }}" class="modelCheck" id="model{{ m.id }}"
                           onchange="updateModelList()" checked><label for="model{{ m.id }}">{{ m.name }}</label><br>
                    {% endfor %}</div></li>
                <li class="helptext" style="float:right">more about <a
                        href="{% url 'climap:help' %}#models">models</a>, <a
                        href="{% url 'climap:help' %}#groups">model groups</a></li>
        </ul>
    </div>
    <div class="drop">scenario : <span id="scenName" class="dropSelected">{{ default_scenario }}</span>
        <ul class="ul-small">
            {%for s in scenarii %}
            <li class="hoverable"><input value="{{ s.id }}" name="scenario" id="scen{{ s.id }}" type="radio"
                       onchange="updateDrop('scen', '{{ s.name }}')"
                       {% if s == default_scenario %}checked{% endif %}>
                <label for="scen{{ s.id }}">{{ s.name }}</label></li>
            {% endfor %}
            <li class="helptext" style="float:right"> <a
                    href="{% url 'climap:help' %}#scenarii">more about scenarii</a></li>
        </ul>
    </div>
    <div class="drop">zone : <span id="selectedDisplay" class="dropSelected">Senegal</span>
        <ul class="ul-small">
            <li>
                select new <a href="#" onclick="map.once('singleclick', selectPointEvt)">point</a></li>
            <li>select new <a href="#" onclick="setZoneSelection()">zone</a></li>
            <li><img alt=">" height="12" src="{% static 'svg/corner-down-right.svg' %}"> or by name : <input type="text" id="zoneByName" name="zoneByName">
                <a type="button" href="#" onclick="selectZoneByName(topForm.zoneByName.value);">GO</a></li>
            <li>draw <a href="#" onclick="drawCustomZone()">custom zone</a>
            </li>
        </ul>
    </div>
    <div class="drop">period : <span id="timeDisplay" class="dropSelected">2050-2060</span>
        <ul class="ul-medium">
            <li class="hoverable">Month <span class="grayed">></span>

                <ul>
                    <li class="hoverable"><input onchange="updateTime(this.form)" value="-1" type="radio" name="month"
                               id="monthyear" checked><label for="monthyear">whole year</label></li>
                    <li class="hoverable"><input onchange="updateTime(this.form)" value="0" type="radio" name="month"
                               id="month0"><label for="month0">January</label></li>
                    <li class="hoverable"><input onchange="updateTime(this.form)" value="1" type="radio" name="month"
                               id="month1"><label for="month1">February</label></li>
                    <li class="hoverable"><input onchange="updateTime(this.form)" value="2" type="radio" name="month"
                               id="month2"><label for="month2">March</label></li>
                    <li class="hoverable"><input onchange="updateTime(this.form)" value="3" type="radio" name="month"
                               id="month3"><label for="month3">April</label></li>
                    <li class="hoverable"><input onchange="updateTime(this.form)" value="4" type="radio" name="month"
                               id="month4"><label for="month4">May</label></li>
                    <li class="hoverable"><input onchange="updateTime(this.form)" value="5" type="radio" name="month"
                               id="month5"><label for="month5">June</label></li>
                    <li class="hoverable"><input onchange="updateTime(this.form)" value="6" type="radio" name="month"
                               id="month6"><label for="month6">July</label></li>
                    <li class="hoverable"><input onchange="updateTime(this.form)" value="7" type="radio" name="month"
                               id="month7"><label for="month7">August</label></li>
                    <li class="hoverable"><input onchange="updateTime(this.form)" value="8" type="radio" name="month"
                               id="month8"><label for="month8">September</label></li>
                    <li class="hoverable"><input onchange="updateTime(this.form)" value="9" type="radio" name="month"
                               id="month9"><label for="month9">October</label></li>
                    <li class="hoverable"><input onchange="updateTime(this.form)" value="10" type="radio" name="month"
                               id="month10"><label for="month10">November</label></li>
                    <li class="hoverable"><input onchange="updateTime(this.form)" value="11" type="radio" name="month"
                               id="month11"><label for="month11">December</label></li>
                </ul>
            </li>
            <li>Year(s) <input name='years' type="text" value="2050-2060"
                               onchange="updateTime(this.form);">
                <span class="tip">?<span class="tipmessage">For instance "2050" or "2080-2090", with max range 1950-2099.</span></span>
            </li>
            <li  class="hoverable" id="methodSpan" style="padding-left:20px;">
                <img alt=">" height="12" src="{% static 'svg/corner-down-right.svg' %}">
                aggregated by <span class="dropSelected" id="aggregateName">average</span>

                <ul>
                    <li class="hoverable"><input onchange="updateDrop('aggregate', 'average')" value="mean" type="radio" name="method"
                               id="method1" checked><label for="method1">average</label></li>
                    <li class="hoverable"><input onchange="updateDrop('aggregate', this.value)" value="max" type="radio" name="method"
                               id="method2"><label for="method2">max</label></li>
                    <li class="hoverable"><input onchange="updateDrop('aggregate', this.value)" value="min" type="radio" name="method"
                               id="method3"><label for="method3">min</label></li>
                    <li class="hoverable"><input onchange="updateDrop('aggregate', this.value)" value="sum" type="radio" name="method"
                               id="method4"><label for="method4">sum</label></li>
                </ul>
            </li>
            <li class="hoverable" id="data">Calculate <span class="dropSelected" id="dataName">raw data</span>
                <ul style="width:70%;">
                    <li class="hoverable"><input onchange="updateDrop('data', 'raw data');" value="data" type="radio"
                               name="data"
                               id="data1" checked><label for="data1">data</label>
                        <span class="tip" style="float:right;">?<span class="tipmessage"><b>raw</b> = projection only,
                            <br><b>absolute</b> = (proj-reference),
                            <br><b>relative</b> = 100*(proj-reference)/reference.</span></span></li>
                    <li class="hoverable"><input onchange="updateDrop('data', 'absolute difference');" value="absolute"
                               type="radio" name="data"
                               id="data2"><label for="data2">absolute difference</label></li>
                    <li class="hoverable"><input onchange="updateDrop('data', 'relative difference');" value="relative"
                               type="radio" name="data"
                               id="data3"><label for="data3">relative difference</label></li>
                </ul>
            <li id="refYrWidget">
                <img alt=">" height='12' src="{% static 'svg/corner-down-right.svg' %}">
                with reference to <input name="refYrs" value="1950-1980" type="text">
                <br><img alt=">" height='12' src="{% static 'svg/corner-down-right.svg' %}">
                <input name="confidence" type="checkbox" id="confidence" onchange="toggleConfidence(this.checked)">
                <label for="confidence">show confidence</label>
                <span class="tip">?<span class="tipmessage">When calculating difference,
                    hashes pixels where 3/4 of all models agree on difference sign.</span></span>
            </li>
        </ul>
    </div>
    <div class="drop">map settings
        <ul class="ul-medium">
            <li class="hoverable">Pixels showed
                <span class="dropSelected" id="reprName">near selected zone</span>
                <ul style="width:70%">
                    <li class="hoverable"><input onchange="updateDrop('repr', 'in \'exact\' zone')" value="exact"
                                                 type="radio" name="area"
                                                 id="area0"><label for="area0">'exact' zone</label></li>
                    <li class="hoverable"><input onchange="updateDrop('repr', 'near selected zone')" value="near"
                                                 type="radio" name="area"
                                                 id="area1" checked><label for="area1">near selected zone</label></li>
                    <li class="hoverable"><input onchange="updateDrop('repr', 'as large as available')" value="all"
                                                 type="radio" name="area"
                                                 id="area2"><label for="area2">as large as available</label></li>
                </ul>
            </li>
            <li class="hoverable">Scale is <span class="dropSelected" id="scaleName">relative</span>
                <ul>
                    <li class="hoverable"><input
                            onchange="updateDrop('scale', this.value);document.getElementById('manualVal').style.display='none';"
                            value="relative" type="radio" name="scale"
                            id="sscale1" checked><label for="sscale1">relative</label>
                        <span class="tip" style="float:right">?<span class="tipmessage">
                        <b>Absolute</b> bounds are fixed max and min bounds from all models,
                        <br><b>relative</b> bounds are calculated on the fly (no effect when calculating differences).
                            <br>Bounds can also be set <b>manually</b>.
                        <br>
                    </span></span></li>
                    <li class="hoverable"><input
                            onchange="updateDrop('scale', this.value);document.getElementById('manualVal').style.display='none';"
                            value="absolute" type="radio" name="scale"
                            id="sscale2"><label for="sscale2">absolute</label></li>
                    <li class="hoverable"><input
                            onchange="updateDrop('scale', 'manual');document.getElementById('manualVal').style.display='block';"
                            value="man" type="radio" name="scale"
                            id="sscale3"><label for="sscale3">manual</label></li>
                </ul>
            </li>
            <li id="manualVal" style="display:none;padding-left:20px;">
                <table style="display:inline">
                    <tr><td><img alt=">" height="12" src="{% static 'svg/corner-down-right.svg' %}"></td>
                        <td style="text-align:right">min :</td><td><input id="manMinVal" name="manMinVal" type="text"></td></tr>
                    <tr><td></td><td style="text-align:right">max :</td><td><input id="manMaxVal" name="manMaxVal" type="text"></td></tr>
                </table>
            </li>
            <li class="hoverable">Zones are <span class="dropSelected" id="zoneName">countries</span>
                <ul style="width:70%">
                    <li class="hoverable"><input onchange="fetchZones(this.value);updateDropNoUpdate('zone', 'not displayed')" value="-1" type="radio" name="zones"
                               id="zone0"><label for="zone0">do not display</label></li>
                    {% for d in divisions %}
                    <li class="hoverable"><input onchange="fetchZones(this.value);updateDropNoUpdate('zone', '{{ d.name }}')" value="{{ d.id }}" type="radio" name="zones"
                               id="zone{{ d.id }}" {% if d.id == 1 %}checked{% endif %}><label for="zone{{ d.id }}">{{ d.name }}</label></li>

                    {% endfor %}

                </ul>
            </li>
            <li class="hoverable">Background is <span class="dropSelected" id="backgroundName">ESRI topography</span>
                <ul style="width:70%">
                    <li class="hoverable"><input onchange="changeBackground(this.value); updateDropNoUpdate('background', 'not displayed');" value="none" type="radio" name="back"
                               id="back0"><label for="back0">do not display</label></li>
                    <li class="hoverable"><input onchange="changeBackground(this.value); updateDropNoUpdate('background', 'OpenStreetMap');" value="OSM" type="radio" name="back"
                               id="back1"><label for="back1">OpenStreetMap</label></li>
                    <li class="hoverable"><input onchange="changeBackground(this.value); updateDropNoUpdate('background', 'ESRI topography');" value="ESRI" type="radio" name="back"
                               id="back2" checked><label for="back2">ESRI topography</label></li>
                    <li class="hoverable"><input onchange="changeBackground(this.value); updateDropNoUpdate('background', 'Nasa imagery');" value="Nasa" type="radio" name="back"
                               id="back3"><label for="back3">Nasa imagery</label></li>
                </ul>
            </li>
            <li>Opacity <input id="imageOpacity" type="range" min="0" max="100" value="100"
                               onchange="imageLayer.setOpacity(this.value/100);document.getElementById('scaleimg').style.opacity=(this.value/100);">
            </li>
        </ul>
    </div>
    <div class="drop"><a href="#" id="updateButton" class="button" style="text-align:right;"
                         onclick="runForm(topForm);">update</a>
        <ul class="ul-small">
            <li>
                <input name="showMap" type="checkbox" id="showMap" checked><label for="showMap">map</label>
                <br><input name="showMonth" type="checkbox" id="showMonth" checked><label for="showMonth">month
                graph</label>
                <br><input name="showYear" type="checkbox" id="showYear" checked><label for="showYear">year
                graph</label>
            </li>
        </ul>
    </div>
    <div class="drop"><a href="#" class="button" onclick="exportFile(topForm)">export</a>
        <ul class="ul-medium">
            <li class="helptext">Will export according to form parameters.</li>
            <li>
                <input name="exportMap" type="checkbox" id="exportMap" checked><label for="exportMap">map</label>
                <br><input name="exportMonth" type="checkbox" id="exportMonth" checked><label for="exportMonth">month
                graph</label>
                <br><input name="exportYear" type="checkbox" id="exportYear" checked><label for="exportYear">year
                graph</label>
            </li>
            <li class="hoverable">as <span class="dropSelected" id="exportName">png</span>
                <ul style="width:70%;">
                    <li class="hoverable"><input onchange="updateDropNoUpdate('export', 'export.png')" type="radio" name="exportFormat" id="export1"
                               value="png" checked><label for="export1">png</label>
                        <span class="tip" style="float:right">?<span class="tipmessage">
                            <b>png :</b> portable image format
                            <br><b>svg :</b> scalable vector format
                            <br><b>pdf :</b> portable document format
                            <br><b>eps :</b> encapsulated postscript
                            <br><b>csv :</b> value text format
                            <br><b>xls :</b> spreadsheet format
                        </span></span>
                    </li>
                    <li class="hoverable"><input onchange="updateDropNoUpdate('export', 'export.svg')" type="radio" name="exportFormat" id="export2"
                               value="svg"><label for="export2">svg</label></li>
                    <li class="hoverable"><input onchange="updateDropNoUpdate('export', 'export.pdf')" type="radio" name="exportFormat" id="export3"
                               value="pdf"><label for="export3">pdf</label></li>
                    <li class="hoverable"><input onchange="updateDropNoUpdate('export', 'export.eps')" type="radio" name="exportFormat" id="export6"
                               value="eps"><label for="export6">eps</label></li>
                    <li class="hoverable" style="padding-left:20px;">month values <span class="grayed">></span><ul>
                    <li class="hoverable"><input onchange="updateDropNoUpdate('export', this.value)" type="radio" name="exportFormat" id="export4"
                               value="month.csv"><label for="export4">csv</label></li>
                    <li class="hoverable"><input onchange="updateDropNoUpdate('export', this.value)" type="radio" name="exportFormat" id="export8"
                               value="month.xls"><label for="export8">xls</label></li>
                    </ul></li>
                    <li class="hoverable" style="padding-left:20px;">year values <span class="grayed">></span><ul>
                    <li class="hoverable"><input onchange="updateDropNoUpdate('export', this.value)" type="radio" name="exportFormat" id="export5"
                               value="year.csv"><label for="export5">csv</label></li>
                    <li class="hoverable"><input onchange="updateDropNoUpdate('export', this.value)" type="radio" name="exportFormat" id="export7"
                               value="year.xls"><label for="export7">xls</label></li>
                    </ul></li>
                </ul>
            </li>
        </ul>
    </div>
    <span class="helptext" style="color:red;float:right" id="message"></span>
</form>
{% endblock %}

{% block content %}
<div id="mapContainer"><div class="loader" id="mapLoader">
    <img alt="loading..." class="loadimage"  width="50" src="{% static 'loading.gif' %}"></div>
    <div id="title">Title</div>
    <div id="scale">
        <table>
            <tr>
                <td rowspan="10"><img alt="" id="scaleimg" src="" height="220"></td>
                <td id="scale0">0</td>
            </tr>
            <tr>
                <td id="scale1">1</td>
            </tr>
            <tr>
                <td id="scale2">2</td>
            </tr>
            <tr>
                <td id="scale3">3</td>
            </tr>
            <tr>
                <td id="scale4">4</td>
            </tr>
            <tr>
                <td id="scale5">5</td>
            </tr>
            <tr>
                <td id="scale6">6</td>
            </tr>
            <tr>
                <td id="scale7">7</td>
            </tr>
            <tr>
                <td id="scale8">8</td>
            </tr>
            <tr>
                <td id="scale9">9</td>
            </tr>
        </table>
    </div>
    <div id="map"></div>
    <div id="popup" class="ol-popup">
      <a href="#" id="popup-closer" class="ol-popup-closer"></a>
      <div id="popup-content"></div>
    </div>
    <div id="maplonlat"></div>
</div>
<div id="rightPanel">
    <div class="chartContainer" id="monthChartContainer">
        <div class="loader" id="monthLoader"><img alt="loading..." class="loadimage"  width="50" src="{% static 'loading.gif' %}"></div>
        <div class="chart" id="monthChart"></div>
    <div class="legend" id="monthLegend"></div></div>
    <div class="chartContainer">
        <div class="loader" id="yearLoader"><img alt="loading..." class="loadimage" width="50" src="{% static 'loading.gif' %}"></div>
        <div class="chart" id="yearChart"></div>
    <div class="legend" id="yearLegend"></div>
    </div>
    <p class="helptext" style="text-align:center;">Drag-and-click to zoom on charts vertically or horizontally. Double-click to reset.
        <br>Bottom-left box sets year smoothing. Greyed zone represents "historical" period.</p>
</div>


<!--    <script src="{% static 'olclimap.js' %}"></script> -->
<script src="{% static 'climap.js' %}"></script>

<script type="text/javascript">
var colors = {{ colors|safe }},
    metrics = { {% for met in metrics %}{{ met.id }}:{unit:"{{ met.unit|safe }}",hasmonth:{{ met.has_month|yesno:"true,false" }} },{% endfor %} },
    countries = {{countries|safe}};

var zones = new ol.layer.Vector({
	source: new ol.source.Vector({
            features: (new ol.format.GeoJSON()).readFeatures(countries),
            projection: 'EPSG:4326'
	}),
	zIndex: 3,
	style: zoneStyle
    });

var hoverInteraction = new ol.interaction.Select({
    condition: ol.events.condition.pointerMove,
    layers:[zones]
});

map.addLayer(zones);

var imgArrowUpLeft = "{% static 'svg/arrow-up-left.svg' %}",
    imgEdit = "{% static 'svg/edit.svg' %}";

window.onload = function(){
    allModels(true);
    runForm(topForm);
    zones.getSource().getFeatures().forEach(function(x){
        if(x.getProperties().name==='Senegal') {
            x.setStyle(selectedZoneStyle);
            selectedZone = x;
            }
        });
}
</script>
{% endblock %}
