{% extends 'stats/base.html' %}
{% comment %}Translation{% endcomment %}
{% load i18n %}

{% block content %}
<div class="smallpage">
    <h2>{% trans 'Comment' %}</h2>
    <p>
    {% blocktrans trimmed %}
    You may post any feedback about the portal. Comments may be anonymous,
    but you can leave an adress for a follow-up. It will not be used for any other used.
    {% endblocktrans %}
    </p>
    <form method="post">
        {% csrf_token %}
        <table>
        {{ form.as_table }}
        </table>
        <input type="submit" value="{% trans 'Send' %}" />
    </form>
    <p><a href="{% url 'main' %}">{% trans 'back to the main page' %}</a></p>
</div>
{% endblock %}