{% extends 'stats/base.html' %}

{% block links %}

<a href="{% url 'main' %}">home</a> &middot;
<a href="{% url 'admin:index' %}">django admin</a> &middot;
<a href="{% url 'stats:comments' %}">comments</a> &middot;
<a href="{% url 'stats:metric' %}">metrics</a> &middot;
<a href="{% url 'stats:doc' %}">documentation</a>

{% endblock %}