{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}" />{% endblock %}


{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; <a href="{% url 'proj:listings' %}">{% trans 'Data manager' %}</a>
</div>
{% endblock %}

{% block content %}
<script>
    $(document).ready(function(){
        $('form').submit(function() {
            var c = confirm("continue submitting ?");
            return c;
        });
    })
</script>

<h1>Current models for {{ param }}</h1>

<p>
    <select onchange="window.location.href = '{{request.path}}?param='+this.value">
    {% for m in allparams %}
        <option value="{{ m.id }}" {% if m.id == param.id %}selected{% endif %}>{{ m  }}</option>
    {% endfor %}
    </select>
</p>

<p>This page displays which models are included in each parameter set.
    Clicking an 'X' will remove the model from this scenario (from all scenarii if column <i>all</i>).
</p>

<p style="color:red">Warning : data deletion cannot be canceled. Backup files if unsure (in {{ dir }}).</p>

<table>
    <tr><th></th>
        <th colspan="4" style="text-align:center; background:#ddd;">{{ param }}</th>
    </tr>
    <tr>
        <th><i>model</i></th>
        {% for s in scenlist %}
        <td>{{s}}</td>
        {% endfor %}
        <td><i>all</i></td>
    </tr>
    {% for cm,scens in cols %}
    <tr><th>{{cm}}</th>
        {% for s in scenlist %}<td style="text-align:center">{% if s in scens %}
            <a href="{% url 'proj:del_param_scen' param.id cm s %}" onclick="return confirm('Delete {{ cm }} for {{ s }} ?')">X</a>
            {% endif %}</td>
        {% endfor %}
        <td style="text-align:center">
            <a href="{% url 'proj:del_param' param.id cm %}"  onclick="return confirm('Delete {{ cm }} for all scenarii ?')">X</a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
