{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}" />{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; <a href="{% url 'proj:listings' %}">{% trans 'Data manager' %}</a>
</div>
{% endblock %}


{% block content %}
<script>
    $(document).ready(function(){
        $('form').submit(function() {
            var c = confirm("continue submitting ?");
            return c;
        });
    })
</script>

<h1>Current models for {{ metric.locale_name }}</h1>

<p><select onchange="window.location.href = '{{request.path}}?metric='+this.value">
    {% for m in allmetrics %}
        <option value="{{ m.id }}" {% if m.id == metric.id %}selected{% endif %}>{{ m.locale_name }}</option>
    {% endfor %}
</select></p>

<p>This page displays which models are included in each scenario set, both for regional and raster (pixel) data.
    Clicking an 'X' will remove the model from this scenario (from all scenarii if column <i>all</i>).
    For consistency reasons, it is not possible to remove a model from a single region.</p>

<p style="color:red">Warning : data deletion cannot be canceled. For regional data, you may backup files if unsure (in {{ dir }}).</p>

<table>
    <tr><th></th><th colspan="4" style="text-align:center; background:#ddd; border-right:1px solid black">regions</th>
        <th colspan="4" style="text-align:center; background:#ddd">raster</th></tr>
    <tr><th><i>model</i></th>
        {% for s in scenlist %}<td>{{s}}</td>{% endfor %}
        <td><i>all</i></td>
        {% for s in scenlist %}<td>{{s}}</td>{% endfor %}
        <td><i>all</i></td>
    </tr>
    {% for cm,d in cols %}
    <tr><th>{{cm}}</th>
        {% if d.zd %}
        {% for s in scenlist %}<td style="text-align:center">{% if s in d.zd %}<a href="{% url 'proj:del_zd_scen' metric.id cm s %}" onclick="return confirm('Delete {{ cm }} for {{ s }} ?')">X</a>{% endif %}</td>{% endfor %}
        <td style="text-align:center"><a href="{% url 'proj:del_zd' metric.id cm %}"  onclick="return confirm('Delete {{ cm }} for all scenarii ?')">X</a></td>
        {% else %}<td></td><td></td><td></td><td></td>
        {% endif %}
        {% if d.mrd %}
        {% for s in scenlist %}<td style="text-align:center">{% if s in d.mrd %}<a href="{% url 'proj:del_mrd_scen' metric.id cm s %}" onclick="return confirm('Delete {{ cm }} for {{ s }} ?')">X</a>{% endif %}</td>{% endfor %}
        <td style="text-align:center"><a href="{% url 'proj:del_mrd' metric.id cm %}"  onclick="return confirm('Delete {{ cm }} for all scenarii ?')">X</a></td>
        {% endif %}

    </tr>
    {% endfor %}
</table>
{% endblock %}
