<!doctype html>
<html lang="en">
<head>
    {% load static %}
    {% block scripts %}{% endblock %}
    <link rel="icon" href="{% static 'img/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'respstyle.css'%}" type="text/css">

    <title>Géoportail Sénégal</title>
</head>
<body>
<div id="head" style="height:50px">
    <h2><a href="{% url 'main' %}">Géoportail Sénégal</a></h2>
    {% block headinfo %}{% endblock %}
    <div class="links">
        {% block links %}{% endblock %}
        {% if request.user.is_authenticated %}
        <a href="{% url 'main' %}">home</a> &middot;
        <a href="../admin">django admin</a> &middot;
        <a href="{% url 'stats:comments' %}">comments</a> &middot;
        <a href="{% url 'stats:metric' %}">metrics</a> &middot;
        {% else %}
        <a href="{% url 'stats:index' %}">login</a>
        {% endif %}
    </div>

</div>

<div class="smallpage">

    <h2><a href="{% url 'histo:index' %}">observations</a></h2>
    <p style="margin:20px">Stations météorologiques du Sénégal.<span style="color:red"> (en construction)</span></p>
    {% comment %}
    <h2><a>prévisions</a></h2>
    <p style="margin:20px">Prévisions météo par région. <span style="color:red">(en construction)</span></p>
    {% endcomment %}
    <h2><a href="{% url 'proj:index' %}">projections</a></h2>
    <p style="margin:20px">Projections climatiques à long terme par région.</p>

    <p style="margin-top:40px">Vous pouvez également
        <a href="{% url 'stats:commentwrite' %}">faire un commentaire sur le site</a>.</p>
</div>
</body>
</html>

<!--

-->